.pydevproject
.settings/*
.project
*.svn
*.log
*.pyc
*.pid
*.swp
.ropeproject
bin/
include/
lib64
static/upload/*
node_modules/
.idea/
.DS_Store
static/*_bz
*.orig
static/png
*.sublime-project
*.sublime-workspace