<section id="v_comment" class="comment-list block">
    {% module CommentReply(parm.comments, timeLen) %}

    {%if parm.user_info%}
    <article id="comment_text_area" class="comment-item" id="comment-form">
        <a class="pull-left thumb-sm avatar">
            <img src="" onerror="this.src='/static/images/avatar.jpg'"alt="{{parm.user_info.user_name}}"></a>
        <section>
            <form>
                <textarea v-model="comment" class="comment-textarea" rows="3" placeholder="求评论"></textarea>
                <button  v-on="click:submit('{{parm.key_type}}',{{parm.key}})" type="button" class="btn btn-default">发表评论</button>
            </form>
        </section>
    </article>
    {%end%}
</section>
