#v_login {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}
.btn.btn-default.btn-oauth2-google {
  background-color: #d34836;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-google:hover,
.btn.btn-default.btn-oauth2-google:active {
  background-color: #b54836 !important;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-twitter {
  background-color: #4997ce;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-twitter:hover,
.btn.btn-default.btn-oauth2-twitter:active {
  background-color: #4979b0 !important;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-facebook {
  background-color: #3b579d;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-facebook:hover,
.btn.btn-default.btn-oauth2-facebook:active {
  background-color: #39407f !important;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-weibo {
  background-color: #f37907;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-weibo:hover,
.btn.btn-default.btn-oauth2-weibo:active {
  background-color: #d56c07 !important;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-qq {
  background-color: #1491e0;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-qq:hover,
.btn.btn-default.btn-oauth2-qq:active {
  background-color: #1474c2 !important;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-douban {
  background-color: #3e9846;
  color: #FFF;
}
.btn.btn-default.btn-oauth2-douban:hover,
.btn.btn-default.btn-oauth2-douban:active {
  background-color: #3c7a3c !important;
  color: #FFF;
}
#v_login > .panel {
  margin-top: 10px;
}
#v_login > .panel > .panel-body {
  padding-bottom: 0px;
}
span.input-group-addon i {
  width: 17px;
}
.alert {
  margin-left: 0px;
  margin-top: 20px;
}
.gt_bottom {
  background-image: none !important;
  background: #F2ECE2 !important;
  border-radius: 0px 0px 10px 10px;
  border-color: #C6BEB5 !important;
  border: 0px 1px 1px 1px !important;
}
.gt_logo_button {
  cursor: default !important;
}
.gt_help_button {
  display: none !important;
}
