{% module loading_m() %}
<div id='v_reset_password' v-loading="loading">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="text-center">设置新密码</h3>
        </div>

        <div class="box-body">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" v-model="password" class="form-control" placeholder="请输入新密码" v-on="keyup: resetPassword | key 'enter',focus:cleanError">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" v-model="repassword" class="form-control" placeholder="请再次输入新密码" v-on="keyup: resetPassword | key 'enter',focus:cleanError">
                </div>
            </div>
            <div class="form-group">
                <input v-on="click: resetPassword" class="btn btn-primary btn-lg btn-block bz-login-btn" value="提交" v-btn-loading="loading">
            </div>
        </div>
    </div>
    <div v-show="error_info" class="alert alert-warning alert-dismissable">
        <h4><i class="icon fa fa-warning"></i>(%error_info%)</h4>
    </div>
</div>
