<section class="comment-list block">
    {% for comment in comments %}
    <article class="comment-item">
        <a class="pull-left thumb-sm avatar">
            <img src="http://himg.bdimg.com/sys/portrait/hotitem/wildkid/1" class="img-circle" alt="..."></a>
        <span class="arrow left"></span>
        <section class="comment-body panel panel-default">
            <header class="panel-heading bg-white">
                <a href="#">某某某</a>
                <label class="label bg-info m-l-xs">管理员</label>
                <span class="text-muted m-l-sm pull-right"> <i class="fa fa-clock-o"></i>
                </span>
            </header>
            <div class="panel-body">
                <div class="description_bz">
                    {{comment.other_description}}
                </div>
                <div class="comment-action m-t-sm">
                    <a href="#comment-form" class="btn btn-default btn-xs"> <i class="fa fa-mail-reply text-muted"></i>
                        回复
                    </a>
                </div>
            </div>
        </section>
    </article>
    {%if comment.get('comments')%}
    {% module CommentReply(comment.comments, timeLen) %}
    {% end %}
    {% end %}
</section>
