{% for comment in comments %}
<article class="comment-reply">
    <a class="pull-left thumb-sm avatar">
        <img {% if comment.picture %} src="{{comment.picture}}" {% else %} src="/static/images/avatar.jpg" {% end %} class="img-circle">
    </a>
    <span class="arrow left"></span>
    <section class="comment-body panel panel-default text-sm">
        <div class="panel-body">
            <span class="text-muted m-l-sm pull-right">
                <i class="fa fa-clock-o"></i>
                {{timeLen(comment.created_date)}}
            </span>
            <div class="comment-action">
                <a v-on="click:reply($event,{{comment.id}})" class="btn btn-default btn-xs">
                    <i class="fa fa-mail-reply text-muted"></i>
                    回复
                </a>
            </div>
            <a href="#">{{comment.user_name}}</a>
            <!--
            <label class="label bg-dark m-l-xs">新手</label>
            -->
            <div class="description_bz">
                {{comment.comment}}
            </div>
        </div>
    </section>
    {%if comment.get('children')%}
    {% module CommentReply(comment.children, timeLen) %}
    {% end %}
</article>

{% end %}
