<div id="v_comment" class="ui minimal comments">
    <h3 class="ui dividing header">评论</h3>
    {% for comment in comments %}
    <div class="comment">
        <a class="avatar">
            <img src="/static/image/login-logo.png">
        </a>
        <div class="content">
            <a class="author">某人</a>
            <div class="metadata">
                <span class="date">{{timeLen(comment.created_date)}}</span>
            </div>
            <div class="text">
                <p class="description">{{comment.other_description}}</p>
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
            </div>
        </div>
    </div>
    {% end %}

    <form class="ui reply form">
        <div class="field">
            <textarea v-model="comment" v-on="focus:cleanError"></textarea>
        </div>
        <div v-on="click: updateComment('{{id}}')" class="ui blue labeled submit icon button">
            <i class="icon edit"></i>提交评论
        </div>
        <div v-show="error_info" class="ui red message">
            [[error_info]]
        </div>
    </form>
</div>
