<section id="v_comment" class="comment-list block">
    {% module comment_reply_m(parm.comments) %}

    {%if user_info%}
    <article id="comment_text_area" class="comment-item" id="comment-form">
        <a class="pull-left thumb-sm avatar">
            <img {% if user_info.picture %} src="{{user_info.picture}}" {% else %} src="/static/images/avatar.jpg" {% end %} title="{{user_info.user_name}}">
</a>
        <section>
            <form>
                <textarea v-model="comment" class="comment-textarea" rows="3" placeholder="求评论"></textarea>
                <button  v-disable="btn_loading" v-btn-loading="btn_loading" v-on="click:clickLink('{{parm.key_type}}','{{parm.key}}')" type="button" class="btn btn-default comment-submit">发表评论</button>
                <div v-show="error_info" class="alert alert-danger alert-dismissible comment-error" role="alert">
                    <button  v-on="click:clean" type="button" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                    (%error_info%)
                </div>
            </form>
        </section>
    </article>
    {%end%}
</section>
