
{% module loading_m() %}
<!-- required vue-component/datepicker.html -->
<div id="v_crud" class="box">
    <div class="box-header with-border">
        <div class="box-title">(%oper%) (%table_desc%)</div>
        <button class="btn btn-default pull-right" v-on="click:toggleEdit">编辑</button>
    </div>
    <div  class="box-body">
        <form class="form-horizontal">
            {% for field in fields %}
            <div class="form-group">
                <label class="col-sm-4 col-md-3 col-lg-2 control-label">{{field.description}}</label>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    {% if field.get("options")%}
                    <select class="form-control" v-disable="!editable" v-model="record.{{field.name}}">
                        {% for option in field.options%}
                        <option value="{{option.get('value')}}">{{option.get('text')}}</option>
                        {% end %}
                    </select>
                    {%elif field.get("c_type") == "timestamp"%}
                    <div class='input-group date' id='{{field.name}}'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input type='text' class="form-control" v-disable="!editable" v-datepicker="record.{{field.name}}"/>
                    </div>
                    {%elif field.get("c_type") == "fileupload"%}
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="..." alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                        </div>
                    </div>
                    <input class="form-control" v-disable="!editable" v-file-upload="record.{{field.name}}">
                    {%elif field.get("c_type") == "imgupload"%}
                    <img src="#" class="img-thumbnail" />
                    <input class="form-control" v-disable="!editable" v-img-upload="record.{{field.name}}">
                    {%else%}
                    <input class="form-control" v-disable="!editable" v-model="record.{{field.name}}">
                    {%end%}
                </div>
            </div>
            {% end %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-2 col-sm-8 col-md-9 col-lg-10">
                    <button type="button" class="btn btn-primary" v-disable="loading" v-btn-loading="loading" v-on="click:save">保存</button>
                    <button type="button" class="btn btn-default pull-right" v-on="click:jump2List">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
