<div class="container">
    <div id='v_login'>
        {% if oauth2 %}
        <div class="btn-group btn-group-justified">
            {% if oauth2.get('google') and oauth2.get('google').get('enabled') %}
            <a class="btn btn-default btn-oauth2-google" href="{{ oauth2.get('google').get('url') }}">
                <i class="fa fa-google-plus"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">Google</span>
            </a>
            {% end %}
            {% if oauth2.get('twitter') and oauth2.get('twitter').get('enabled') %}
            <a class="btn btn-default btn-oauth2-twitter" href="{{ oauth2.get('twitter').get('url') }}">
                <i class="fa fa-twitter"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">Twitter</span>
            </a>
            {% end %}
            {% if oauth2.get('facebook') and oauth2.get('facebook').get('enabled') %}
            <a class="btn btn-default btn-oauth2-facebook" href="{{ oauth2.get('facebook').get('url') }}">
                <i class="fa fa-facebook"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">Facebook</span>
            </a>
            {% end %}
            {% if oauth2.get('weibo') and oauth2.get('weibo').get('enabled') %}
            <a class="btn btn-default btn-oauth2-weibo" href="{{ oauth2.get('weibo').get('url') }}">
                <i class="fa fa-weibo"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">Weibo</span>
            </a>
            {% end %}
            {% if oauth2.get('qq') and oauth2.get('qq').get('enabled') %}
            <a class="btn btn-default btn-oauth2-qq" href="{{ oauth2.get('qq').get('url') }}">
                <i class="fa fa-qq"></i>
                <span class="visible-md-inline-block visible-lg-inline-block">QQ</span>
            </a>
            {% end %}
            {% if oauth2.get('douban') and oauth2.get('douban').get('enabled') %}
            <a class="btn btn-default btn-oauth2-douban" href="{{ oauth2.get('douban').get('url') }}">
                豆
                <span class="visible-md-inline-block visible-lg-inline-block">瓣</span>
            </a>
            {% end %}
        </div>
        {% end %}
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" v-model="user_name" class="form-control" id="user" placeholder="请输入用户名"
                            v-on="focus:cleanError">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" v-model="password" class="form-control" id="password"
                            placeholder="请输入密码"
                            v-on="keyup: submit | key enter,focus:cleanError">
                        </div>
                    </div>
                    <div class="form-group">
                        <a v-on="click: submit" class="btn btn-primary btn-lg btn-block">登录&nbsp;|&nbsp;注册</a>
                    </div>
                </form>
            </div>
        </div>
        <div v-show-bz="error_info" class="alert alert-danger hide_bz">(%error_info%)</div>
    </div>
</div>
