.profile-img {
    div {
        width: 100%;
        height: 100%;
    }
    img {
        width:100%;
        height:auto;
    }
    input[type=file] {
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
    }
    .tips {
        text-align: center;
        color: #aaa;
    }
}

.prifile-username {
    font-size: 2.2em;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
